@model WebBanSua.ModelViews.ChangePasswordViewModel

    <form asp-controller="Accounts" asp-action="ChangePassword" method="post"  >
        <div class="checkout__input">
            <p>Mật khẩu hiện tại<span></span></p>
            <input asp-for="PasswordNow" type="password">
        </div>
        <div class="checkout__input">
            <p>Mật khẩu mới<span>*</span></p>
            <input asp-for="Password" type="password">
        </div>
        <div class="checkout__input">
            <p>Nhập lại mật khẩu mới<span>*</span></p>
            <input asp-for="ConfirmPassword" type="password">
        </div>
        <button type="submit" class="site-btn">Lưu</button>
    </form>
    
